<h1>Places you have been list</h1>
<h3>Add a new city you have been:</h3>
<form action="/places" method="post">
  <label for="new-city">City name</label>
  <input id="new-city" name="new-city" type="text">
  <button type="submit">Add city</button>
</form>
