<h1>Places you have been list</h1>
<h3>Add a new city you have been:</h3>
<form action="/places" method="post">
  <label for="new-city">City name</label>
  <input id="new-city" name="new-city" type="text">
  <label for="new-state">State name</label>
  <input id="new-state" name="new-state" type="text">
  <label for="new-year">Year visited</label>
  <input id="new-year" name="new-year" type="text">
  <button type="submit">Add city</button>
</form>
